<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" href="account.css" type="text/css" />
    </head>
    <body>
        <div class="body">
        <form class="dialog" action="/login" method="POST">
        	<div class="controls">
        	    <h1>Login</h1>
            	<p class="name"><label for="email">Email </label><br>
            	<input type="username" id="email" name="username"></p>
            	<p class="name"><label for="password">Password</label><br>
            	<input type="password" id="password" name="password"></p>
            
            	<p><button name="login">Login</button></p>
                <p class="links"><a href='password_reset'>Forget Password</a> <a href="/register">New User</a></p>
                
            </div>
        </form>
        </div>
</form>
        
    </body>
</html>