<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" href="account.css" type="text/css" />
    </head>
    <body>
        <div class="body">
        
        <form class="dialog" action="/register" method="POST">
        	<div class="controls">
        	    <h1>Register</h1>
            	<p class="name"><label for="email">User name or email address</label><br>
            	<input type="text" id="email" name="username"></p>
            	<p class="name"><label for="password">Password</label><br>
            	<input type="password" id="password" name="password"></p>
            
            	<p><button name="login">Sign Up</button></p>
                <p class="links"><a href='password_reset.html'>Forget Password</a> 

            </div>
        </form>
        </div>
        
    </body>
</html>